html, body{
    height:100%;
  }

body {
    background-image: url(../images/galaxy.jpg);
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

h1, .jumbotron {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
    color: #fff;
}

.jumbotron {
    background-image: url(../images/planets.jpg);
    background-size: cover;
}
.jumbotron jumbotron-fluid {
    background: transparent;
}

#wrapper{
    margin:2.5% auto;
    background-color: rgba(115, 38, 143, 0.83);
    width:960px;
    height: 95%;
    box-sizing: border-box;
  }
  
  #subwrapper{
    position: relative;
  }
  button{
    display:block;
    width:50%;
    height:20%;
    margin: 0 auto;
    cursor: pointer;
    background:transparent;
    font-size: 42px;
  }
  
  img{
    height:200px;
  }
  
  h1, .wrapper{
    text-align: center;
	font-family: 'Orbitron', sans-serif;
    color: #fff;
  }
  
  h2{
    font-size: 35px;
    margin-bottom: 25px;
  }
  
  h3{
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  #start{
    background: rgb(214, 194, 211);
    border: rgb(0, 0, 255);
  }
  
  
  
  button:hover {
    background: rgb(214, 194, 211);
    border: rgb(0, 0, 255);
  }


